  body{
    height: 100%;
  }
  .heading{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2cm;
    width: 100vmax;
    font-size: .3in;
  }

  .nav{
    height: 100vh;
    width: 30%;
    background-color: blue;
    padding: 10px
  }

  .container{
    display: flex;
  }
  a{
    color: white;
    display: block;
    transition: .3s;
  }

  a:hover{
    background-color: black;
  }
  .content{
    padding: 10px;
    width: 60%;
  }