body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white;
    transition: .5s ease-in-out;
}

.circle:hover{
    background-color: black;
    border: 10px dashed white;
    border-radius: 0%;
    transform: rotate(360deg) skew(20deg) ;
}

